<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="../static/images/icon.png?{{ cache_id }}"/>

		<link rel="stylesheet" href="../static/styles/common.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/header.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/footer.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/filters.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/places.css?{{ cache_id }}"/>
		<link rel="stylesheet" href="../static/styles/web_terminal.css?{{ cache_id }}"/>
		<script src="https://kit.fontawesome.com/051d5c98a7.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  		<script src="../static/scripts/dynamic.js? {{ cache_id }}"></script>
		 
		<!-- xterm -->
		 <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css"/>
		 <script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
		 <script src="https://unpkg.com/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.js"></script>
		 <script src="https://unpkg.com/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.js"></script>
		 <script src="https://unpkg.com/xterm-addon-search@0.8.0/lib/xterm-addon-search.js"></script>
		 
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js"></script>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
			<div id="terminal_btn" class="popup-link">
				<a href="#console"><p>>_</p></a>
			</div>
			<div id="api_status">
				<a href="miniairbnb.gq/apidocs" target="_blank"><p>API</p></a>
			</div>
		</header>
		
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for state in states %}
							<li>
								<h2>
									<input type="checkbox" data-id="{{ state[0].id }}" data-name="{{ state[0].name }}">
									<strong>{{ state[0].name }}</strong>
								</h2>
								<ul>
									{% for city in state[1] %}
										<li>
											<input type="checkbox" data-id="{{ city.id }}" data-name="{{ city.name }}">
											{{ city.name }}
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for amenity in amenities %}
							<li>
								<input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}"/>
								{{ amenity.name }}
							</li>
						{% endfor %}
					</ul>
				</div>
			</section>

			<!--web-terminal popup-->
			<div id="console" class="terminal-container">
				<div class="terminal-content">
					<a href="#" class="close">&times;</a>

					<span style="font-size: 1.4em">hbnb console</span>&nbsp;&nbsp;&nbsp;
					<span style="font-size: small">status:</span>
					<span style="font-size: small" id="status">connecting...</span>
					<div id="terminal"></div>
					<script src="../static/scripts/web_terminal.js"></script>
				</div>
			</div>

			<section class="places">
				<h1>Places</h1>
			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
